
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .allCenter {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    .horizonCenter {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }


